{% extends "nearme/front/index.html" %}

{% block content %}

<div class="col-md-10">
  <div id="map">
  </div>
</div>

<div class="col-md-2">
  <h2>Campuses</h2>
  <p><b>Current Method:</b> {{ qmethod }}</p>
  <form action="." method="GET">
    <div class="btn-group">
      <button type="submit" name="qmethod" value="GeoDjango" class="btn btn-info">GeoDjango</button>
      <button type="submit" name="qmethod" value="Haystack" class="btn btn-success">Haystack</button>
    </div>
  </form>
  <div id="info" class="alert alert-info">
  </div>
  {% for campus in campus_locations %}
  <div class="well">
    <p><code>{{ marker.latitude }}, {{ marker.longitude }}</code></p>
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}nearme/js/geoFindMe.js"></script>
<script type="text/javascript">
    L.mapbox.accessToken = mapbox_access_token;
  // Replace 'mapbox.streets' with your map id.
  var mapboxTiles = L.tileLayer('https://api.mapbox.com/v4/foenix.ae02e06f/{z}/{x}/{y}.png?access_token=' + L.mapbox.accessToken, {
    attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'
  });

  var map = L.map('map')
      .addLayer(mapboxTiles);
  {% if marker.lat and marker.lng %}
  var latitude = {{ marker.lat }};
  var longitude = {{ marker.lng }};
  map.setView([{{ marker.lat }}, {{ marker.lng }}], 12);
  var marker = L.marker([latitude, longitude], {
  icon: L.mapbox.marker.icon({
    'marker-color': '#31708f'
    }),
  draggable: true
  });
  console.debug(latitude, longitude);

  marker.on('dragend', function(e){
    console.debug(marker.getLatLng());
    latlng = marker.getLatLng();
    window.location.href = window.location.origin + window.location.pathname + "?lat=" + latlng.lat + "&lng=" + latlng.lng;
  });
  marker.addTo(map);
  {% else %}
  geoFindMe(map);
  map.setView([40.7563925, -111.8985922], 13);
  {% endif %}
</script>
{% endblock %}
