{% extends "_base.html" %}

{% block navcontent %}
  <li class="{% if demo == 'index' %}active{% endif %}"><a href="{% url 'nearme:index' %}">Near Me Demo</a></li>
  <li class="{% if demo == 'coarse' %}active{% endif %}"><a href="{% url 'nearme:coarse' %}">Coarse</a></li>
  <li class="{% if demo == 'fine' %}active{% endif %}"><a href="{% url 'nearme:fine' %}">Fine</a></li>
  <li class="{% if demo == 'campuses' %}active{% endif %}"><a href="{% url 'nearme:campuses' %}">Campuses</a></li>
{% endblock %}

{% block content %}

<div id="info">
  {{ city.city }}
  {{ city.latitude }}, {{ city.longitude }}
</div>

<div id="map">
  
</div>

{% endblock %}

{% block js %}
{% if demo == "fine" %}
<script type="text/javascript" src="{{ STATIC_URL }}nearme/js/geoFindMe.js"></script>
{% endif %}
<script type="text/javascript">
    L.mapbox.accessToken = mapbox_access_token;
    // Replace 'mapbox.streets' with your map id.
    var mapboxTiles = L.tileLayer('https://api.mapbox.com/v4/foenix.ae02e06f/{z}/{x}/{y}.png?access_token=' + L.mapbox.accessToken, {
      attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'
    });

    var map = L.map('map')
        .addLayer(mapboxTiles);
        
{% if demo == "coarse" %}
    map.setView([{{ city.latitude }}, {{ city.longitude }}], 11);
    
    var marker = L.marker([{{ city.latitude }}, {{ city.longitude }}], {
    icon: L.mapbox.marker.icon({
      'marker-color': '#f86767'
      })
    });

    marker.addTo(map);
{% elif demo == "fine" %}
    geoFindMe(map);
{% else %}
    map.setView([40.7563925, -111.8985922], 11);
{% endif %}
</script>
{% endblock %}
